1- write a program which takes single input from user contaning first name,last name and age as comma separated value and display then in 3 lines in given format below.

example user input : Ankit,Bansal,35

output:
First name is Ankit
last name is Bansal
Ankit is 35 years old

note : do not hardcode name at any place

In [ ]:
user_name = input()
user_name_lst = user_name.split(',')
print(f'First name is {user_name_lst[0]} last name is {user_name_lst[1]} {user_name_lst[0]} is {user_name_lst[2]} years old')

2- given 2 list as list1= [1,3,4] and list2 = [2,4,6]

combined the 2 list and diplay the same without using extend method

In [ ]:
list1= [1,3,4]
list2 = [2,4,6]
list = list1 + list2
print(list)

3- given a list list1=[1,2,3,4,5,6,7,8]
diplay a new list which contains only odd position index values from above list.

In [ ]:
list1=[1,2,3,4,5,6,7,8]
new_list = []
for i in list1:
  if i%2!=0:
    new_list.append(i)
print(new_list)

4- ipl= ['CSK','MI','KKR','LSG','PBKS']

take a ipl team name as input from user and display a list of all elements from that name.

example : input : KKR
output : ['KKR','LSG','PBKS']

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']
ipl_new = []
input_team = input()
if input_team in ipl:
  print(ipl[ipl.index(input_team):])
else:
  print('wrong input')

5- ipl= ['CSK','MI','KKR','LSG','PBKS']

take a ipl team name as input from user and display a list of all elements except input one

example : input : KKR
output : ['CSK','MI','LSG','PBKS']

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']
input_team = input()
if input_team in ipl:
  ipl.remove(input_team)
  print(ipl)
else:
  print('wrong input')

6- ipl= ['CSK','MI','KKR','LSG','PBKS']
take a user input contains 2 comma seprated values index,new_team . replace the index element of list with new value and display the same

example : input : 2,SRH
output : ['CSK','MI','SRH','LSG','PBKS']

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']
input_values = input("Enter as commas separated values index,new_team : ")
ipl[int(input_values.split(',')[0])] = input_values.split(',')[1]
print(ipl)

7- ipl= ['CSK','MI','KKR','LSG','PBKS']
take ipl team name as user input. display True if the team exists else display False.

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

input_ipl = input()
if input_ipl in ipl:
  print('True')
else:
  print('False')
# 8-ipl= ['CSK','MI','KKR','LSG','PBKS'] take a user input contains 2 comma seprated values index,new_team . Add the new value at that index in the list. Display the old list , new list,length of original and new list

# example : input : 2,SRH output : old list : ['CSK','MI','KKR','LSG','PBKS'] and length 5 new list : ['CSK','MI','SRH','KKR',LSG','PBKS'] and length 6

8-ipl= ['CSK','MI','KKR','LSG','PBKS']
take a user input contains 2 comma seprated values index,new_team . Add the new value at that index in the list.
Display the old list , new list,length of original and new list

example : input : 2,SRH
output :
old list : ['CSK','MI','KKR','LSG','PBKS'] and length 5
new list : ['CSK','MI','SRH','KKR',LSG','PBKS'] and length 6

In [ ]:
import copy
ipl= ['CSK','MI','KKR','LSG','PBKS']
ipl_copy = copy.copy(ipl)
input_new = input("Enter as commas separated values index,new_team : ")
ipl_copy.insert(int(input_new.split(',')[0]),input_new.split(',')[1])
print(ipl)
print(ipl_copy)
print(len(ipl))
print(len(ipl_copy))