1- given a list of numbers, write a program to find the mean of the numbers in list

In [ ]:
# 1- given a list of numbers, write a program to find the mean of the numbers in list
list1 = [1,2,3,4,5,1,2,5,6]
mean = sum(list1)/len(list1)
print(mean)

2- given a list of numbers unsorted, write a program to find the median of the numbers in list

In [ ]:
# 2
list2 = [1,2,3,4,5,1,2,5]
list2.sort()
n= len(list2)
if n%2 ==0:
  median = (list2[n//2+1] + list2[n//2 +2])/2
elif n%3 ==0:
  median = list2[(n+1)//2+1]

print(median)

3- from a list of numbers create 2 list , one containing only the even numbers and other only the odd numbers

In [ ]:
# 3- from a list of numbers create 2 list , one containing only the even numbers and other only the odd numbers
list3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
list_even =[]
list_odd =[]
for i in list3:
  if i%2 ==0:
    list_even.append(i)
  elif i%2 !=0:
    list_odd.append(i)
print(list_odd)
print(list_even)

4- create a dictionary to store following attributes of CSK
key "CSK" ; attributes : team full name , captain , playing 11 for each match(name of players), oppenont name (assume there are 3 matches only against MI, RCB , GT ) and result won/loss

In [ ]:
# 4 create a dictionary to store following attributes of CSK key "CSK" ; attributes : team full name , captain , playing 11 for each match(name of players), oppenont name (assume there are 3 matches only against MI, RCB , GT ) and result won/loss
dict1 = {'CSK' : {'team_name':'Chennai Super Kings','Captain':'MS Dhoni','playing_5':[['player1','player2','player3','player4','player5'],
                                                                                      ['player1','player2','player3','player4','player5'],
                                                                                      ['player1','player2','player3','player4','player5']
                                                                                      ],'opponents':['MI','RCB','GT'],'results':['Win','Loss','Win']}}

5- in the previous dictonary add one more item for RCB. you can choose any 3 opponents.

In [ ]:
# 5- in the previous dictonary add one more item for RCB. you can choose any 3 opponents.
dict1 = {'CSK' : {'team_name':'Chennai Super Kings','Captain':'MS Dhoni','playing_5':[['player1','player2','player3','player4','player5'],
                                                                                      ['player1','player2','player3','player4','player5'],
                                                                                      ['player1','player2','player3','player4','player5']
                                                                                      ],'opponents':['MI','RCB','GT'],'results':['Win','Loss','Win']},
         'RCB' : {'team_name':'Royal Challengers Bangalore','Captain':'Virat Kholi','playing_5':[['player1','player2','player3','player4','player5'],
                                                                                      ['player1','player2','player3','player4','player5'],
                                                                                      ['player1','player2','player3','player4','player5']
                                                                                      ],'opponents':['MI','RCB','GT'],'results':['Win','Loss','Win']}}

6- write a program to take a positive number as input from user. if the user enters negative number then keep promting him to enter positive number until he enters the positive number and then print the same

In [ ]:
# 6
while True:
  input_number = int(input("Enter a Postive number : "))
  if input_number >= 0:
    break
print(input_number)

7- consider the below list of list conatins following information :

1. The name of a university
2. The total number of enrolled students
3. The annual tuition fees

universities = [
['California Institute of Technology', 2175, 37704],
['Harvard', 19627, 39849],
['Massachusetts Institute of Technology', 10566, 40732],
['Princeton', 7802, 37000],
['Rice', 5879, 35551],
['Stanford', 19535, 40569],
['Yale', 11701, 40500]
]

write a program to print follwoing information :
1- a list of all the universitites  : ['California Institute of Technology','Harvard',..so on]
2- total number of student entrolled in all the unversities together
3- mean of tuition fees

In [ ]:
# 7
universities = [ ['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849], ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551], ['Stanford', 19535, 40569], ['Yale', 11701, 40500] ]
list_of_uni = []
for i in universities:
        list_of_uni.append(i[0])
print(list_of_uni)
# total_student entrolled in all the unversities together
total_students = 0
for i in universities:
  total_students +=i[1]
print(total_students)
# 3- mean of tuition fees
sum_fees = 0
for i in universities:
  sum_fees +=i[2]
  mean = sum_fees/len(list_of_uni)
print(mean)

8- write a program to convert above universities list to a dictionary. the keys should be the name of the university

In [ ]:
# 8
universities = [ ['California Institute of Technology', 2175, 37704], ['Harvard', 19627, 39849], ['Massachusetts Institute of Technology', 10566, 40732], ['Princeton', 7802, 37000], ['Rice', 5879, 35551], ['Stanford', 19535, 40569], ['Yale', 11701, 40500] ]
dict_uni = {}
for i in universities:
  dict_uni[i[0]] = [i[1],i[2]]
print(dict_uni)

9-  write a program that reverses a given string. For example, if the input is "Hello" from user, the output should be "olleH"

In [ ]:
# 9
input_string = input()
reverse_string= input_string[::-1]
print(reverse_string)

10- write a program that finds the largest number in a list(unsorted) of integers without using sort/sorted method.

In [ ]:
# 10
list4 = [1,2,3,4,5,11,2,5,6]
largest_number = list4[0]
for number in list4:
  if number > largest_number:
    largest_number = number
print(largest_number)